@model IEnumerable<ProfileMaker.Models.ProfileUser>


@{ 
    ViewBag.Title = "Home Page";
}

<div class="row">
   <div class="col-md-12">
       <h1>Välkommen till ProfileMaker!</h1>
       <p>Här kan du spara CV och ahntera det...</p>
       <a asp-controller="App" asp-action="ProfileUser" class="btn btn-lf btn-success">Titta på min profil</a>
   </div>
</div>

   